body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(130deg, #445094, #b09bc7);
}

.container {
  width: 100%;
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  text-align: center;
  color: #313e58;
}

.footer {
  font-size: 14px;
  margin-top: 10%;
  margin-right: 70%;
  opacity: 0.4;
}

.container h1 {
  font-size: 170px;
  margin: 0;
  padding-bottom: 12px;
  font-weight: 900;
  letter-spacing: 20px;
  background: url(../img/sky.jpg) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container a {
  text-decoration: none;
  background: #8ab1cf;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.container a:hover {
  background: #24346c;
}
